class {
    onCreate() {
        this.state = { count:0 };
    }
    increment() {
        this.state.count++;
    }
}

<div.count key="counter">
    ${state.count}
</div>
<button.example-button key="increment-button" on-click('increment')>
    Click me!
</button>